/**
* @name Better SpotifyControls
* @author Nyria modified by Mobo
* @description Better SpotifyControls
* @version 1.0
*/

.container-6sXIoE { border-bottom: none !important; margin-bottom: 0 !important;}
.container-6sXIoE 
.timeline-UWmgAx { position: relative !important;}.container-6sXIoE 
.bar-g2ZMIm { position: absolute !important; 
 bottom: -6px !important; left: -8px !important; width: 240px !important; 
 height: 53px !important;margin: 0 !important;-webkit-mask-image: 
 linear-gradient(0.25turn, #0008, #0002) !important;mask-image: 
 linear-gradient(0.25turn, #0008, #0002) !important;border-radius: 0 !important;}
.barFill-Dhkah7 { border-radius: 0 !important;}
.container-6sXIoE.maximized-vv2Wr0 
.bar-g2ZMIm { height: 88px !important;}
.container-6sXIoE 
.button-12Fmur:hover { background-color: transparent !important;}
.barFill-Dhkah7, 
.timeline-UWmgAx:hover 
.barFill-Dhkah7 { background: var(--spotify-color) !important;}
.inner-WRV6k5 { z-index: 1 !important;}
.barText-lmqc5O, 
.grabber-7sd5f5 { display: none !important;}

:root {
  /* Default value : #1EDC62 */
  --spotify-color: #1edc62;
}