/**
* @name Windows Key Theme
* @author Nyria
* @description Windows Key Theme
* @version 1.0
*/

.winButton-3UMjdg:not(:last-child) > svg {
  display: none;
}
.winButton-3UMjdg:not(:last-child)::after {
  content: "";
  border-radius: 50px;
  pointer-events: fill;
}
.winButton-3UMjdg:hover {
  background-color: var(--background-tertiary);
}
.winButtonClose-3Q8ZH5 {
  margin-right: 5px;
}
.winButtonClose-3Q8ZH5::after {
  padding: 7px;
  background-image: url("https://i.imgur.com/WAbJScJ.png");
  background-size: 100%;
}
.winButtonClose-3Q8ZH5:hover::after {
  background-image: url("https://i.imgur.com/ipwGE9a.png");
  background-size: 100%;
}
.winButtonMinMax-3RsPUg:nth-child(3)::after {
  background-color: #dfdfdf;
  padding: 6px;
}
.winButtonMinMax-3RsPUg:nth-child(3):hover::after {
  background-color: #dfdfdf;
}
.winButtonMinMax-3RsPUg:last-child {
  color: #dfdfdf;
}
.winButtonMinMax-3RsPUg:last-child:hover {
  color: #dfdfdf;
}
.winButtonMinMax-3RsPUg:last-child rect {
  height: 4px;
  rx: 2px;
}
